/* 3 types of gradient 
1. linear-gradient
2. radial-gradient
3. conic-gradient */

* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

/* .nav-bar {
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, red, yellow);
    color: white;
    text-transform: uppercase;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}  */

@keyframes animate-gradient {
    to {
        background-position: 200%; 
    }
}

.nav-bar2 {
    height: 100px;
    width: 100%; 
    background: radial-gradient(circle, red, green, yellow);
    color: white;
}

.nav-bar3 {
    height: 100px;
    width: 100%; 
    background: conic-gradient(red, green, yellow);
    color: white;
}
